<div class="m-0 row vh-100 justify-content-center align-items-center">
  <div class="col-auto bg-light p-5">
    <form [formGroup]="form" novalidate>
      <div class="input-group p-2">
        <input
          type="text"
          class="form-control"
          name="usuario"
          formControlName="usuario"
          placeholder="Usuario"
          id="usuario"
          [ngClass]="{
            'is-invalid':
              form.get('usuario')?.dirty && form.get('usuario')?.invalid,
            'is-valid': !form.get('usuario')?.invalid
          }"
          #usuario
        />
      </div>

      <div class="input-group p-2">
        <input
          type="password"
          class="form-control"
          name="passwd"
          formControlName="passwd"
          placeholder="Contraseña"
          id="passwd"
          [ngClass]="{
            'is-invalid':
              form.get('passwd')?.dirty && form.get('passwd')?.invalid,
            'is-valid': !form.get('passwd')?.invalid
          }"
          #passwd
        />
      </div>
      <button
        class="btn w-100"
        [ngClass]="{
          'btn-secondary': form.invalid,
          'btn-primary': !form.invalid
        }"
        type="submit"
        [routerLink]="['/noticias']"
        [disabled]="form.invalid"
      >
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
