.red{
    background-color: red;   
}
.blue{
    background-color: blue;   
}
.green{
    background-color: green;
}

.square {
   position: relative;
   width: 25%;
}
  
.square:after {
   content: '';
   display: block;
   padding-bottom: 100%;
}
