<div class="row justify-content-center">
  <div class="col-6">
    <form
      class="row g-2"
      [formGroup]="form"
      (ngSubmit)="addNoticia(titulo.value, cuerpo.value, date.valueAsDate)"
      novalidate
    >
      <div class="col-8">
        <label for="titulo" class="form-label">Titulo: </label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          formControlName="titulo"
          placeholder="Titulo"
          id="titulo"
          [ngClass]="{
            'is-invalid': form.get('titulo')?.invalid,
            'is-valid': !form.get('titulo')?.invalid
          }"
          #titulo
        />
      </div>

      <div class="col-4">
        <label for="date" class="form-label">Fecha de creación: </label>
        <input
          type="date"
          class="form-control"
          name="date"
          formControlName="date"
          id="date"
          [ngClass]="{
            'is-invalid': form.get('date')?.invalid,
            'is-valid': !form.get('date')?.invalid
          }"
          #date
        />
      </div>
      <div class="col-12">
        <label for="cuerpo" class="form-label">Cuerpo: </label>
        <textarea
          class="form-control"
          name="cuerpo"
          formControlName="cuerpo"
          placeholder="Cuerpo de la noticia"
          id="cuerpo"
          [ngClass]="{
            'is-invalid': form.get('cuerpo')?.invalid,
            'is-valid': !form.get('cuerpo')?.invalid
          }"
          #cuerpo
        ></textarea>
      </div>
      <div class="col-1">
        <button
          type="submit"
          class="btn"
          [ngClass]="{
            'btn-secondary': form.invalid,
            'btn-primary': !form.invalid
          }"
          [disabled]="form.invalid"
        >
          Crear
        </button>
      </div>
    </form>
  </div>
</div>
